<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
    <script>
      window.currentUser = { 
          "id": <%= current_user.id %>,
          "username": "<%= current_user.username %>",
          "first_name": "<%= current_user.first_name%>",
          "last_name": "<%= current_user.last_name%>",
        }
    </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
  
  <script type="text/javascript">

  //images
    window.blackFeatherURL = "<%= image_url('logos/roberthood_black_feather.jpg') %>" 
    window.greenFeatherURL = "<%= image_url('logos/roberthood_green_feather.jpg') %>"
    window.cashManagementURL = "<%= image_url('roberthood-cash-management.jpg') %>" 
    window.signInURL = "<%= image_url('sign_in.png') %>" 
    window.roberthoodGoldURL = "<%= image_url("roberthood_gold.png") %>"
    window.abstractURL = "<%= image_url("abstract_image.png") %>"
    window.roberthoodHatURL = "<%= image_url("roberthood_hat.png") %>"

  //objects
  
  </script>
</html>

