<!DOCTYPE html>
<html>
  <head>
    <title>Roberthood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
    <script>
      window.currentUser = { 
          "id": <%= current_user.id %>,
          "username": "<%= current_user.username %>",
          "first_name": "<%= current_user.first_name%>",
          "last_name": "<%= current_user.last_name%>",
        }
    </script>
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Roberthood">
    <meta property="og:description" content="A clone of Robinhood by Ben Hsieh">
    <meta property="og:image" content="<%= image_url 'roberthood.png' %>">
    <meta property="og:url" content="https://roberthood-trading-platform.herokuapp.com/">

  </head>

  <body>

    <%#= flash[:error] %>
    <%= yield %>
  </body>
  
  <script type="text/javascript">

  //images
    window.blackFeatherURL = "<%= image_url('logos/roberthood_black_feather.jpg') %>" 
    window.greenFeatherURL = "<%= image_url('logos/roberthood_green_feather.jpg') %>"
    window.cashManagementURL = "<%= image_url('roberthood-cash-management.png') %>" 
    window.signInURL = "<%= image_url('sign_in.png') %>" 
    window.roberthoodGoldURL = "<%= image_url("roberthood_gold.png") %>"
    {/* window.abstractURL = "<%= image_url("abstract_image.png") %>" */}
    window.abstractURL = "<%= image_url("abstract_image.jpg") %>"
    window.roberthoodHatURL = "<%= image_url("roberthood_hat.png") %>"
    window.learnAsYouGrowURL = "<%= image_url("learn_as_you_grow.png") %>"
    window.ourProductsURL = "<%= image_url("our_products.png") %>"
    window.landingPageFooterURL = "<%= image_url("landing-page-footer.png") %>"
    window.signupFormFooterURL = "<%= image_url("signup_form_footer.png") %>"
    window.magnifyingGlassURL = "<%= image_url("search-icon.png") %>"

  //objects
  
  </script>
</html>

